* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  padding: 30px 40px 20px 40px;
  /* margin-bottom: 20px; */
  /* border: 2px solid red; */
}

.header:hover .bar {
  width: 100%;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}
.header:hover::after .bar {
  width: 50px;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}
.header:hover .heading {
  color: #e9204f;
  transition-duration: 1s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}
.header:hover .sub-heading {
  color: black;
  transition-duration: 1s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}

body {
  z-index: 1;
}

.bar {
  width: 50px;
  height: 2px;
  background-color: #e9204f;
  transition: all 3s;
}

.heading {
  font-family: "DM Sans", sans-serif;
  font-size: 3.5em;
  font-weight: 800;
  margin-top: 15px;
  letter-spacing: -0.5px;
  word-spacing: 2px;
  height: 72px;
  padding: 0;
  /* border: 2px solid blue; */
  transition: color 3s;
}

.sub-heading {
  color: #e9204f;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;
  /* border: 2px solid chartreuse; */
  transition: color 3s;
}

.services {
  padding: 30px 40px 30px 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.service-card {
  background-color: rgba(243, 243, 243, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 2px solid violet; */
  height: 115px;
  font-weight: 500;
  font-size: x-large;
  z-index: 1;
  transition: all 0.6s ease-in-out 0.2s;
}

.service-card:hover {
  padding-left: 13%;
  background-color: #e9204f;
  color: white;
}

svg {
  /* border: 2px solid greenyellow; */
  z-index: -1;
}

.service-title {
  display: inline;
  /* left: 10px; */
  position: absolute;
}

i {
  font-size: xx-large;
}

@media (max-width: 1023px) {
  .services {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 30px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 450px) {
  .header {
    padding: 30px 50px 0px 50px;
  }
  .services {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
  }
}
@media (max-width: 350px) {
  .header {
    padding: 20px 50px 0px 20px;
  }
  .services {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }
}
